[project]
	description = less.js ported to PHP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/paladox
[access "refs/for/refs/*"]
	read = group user/paladox
	push = group user/paladox
	label-Code-Review = -2..+2 group user/paladox
	label-Verified = -1..+1 group user/paladox
	rebase = group user/paladox
	removeReviewer = group user/paladox
	submit = group user/paladox
[access "refs/heads/*"]
	read = group user/paladox
	create = group user/paladox
	push = +force group user/paladox
	pushMerge = group user/paladox
[access "refs/tags/*"]
	push = +force group user/paladox
	pushTag = group user/paladox
	pushSignedTag = group user/paladox
